:root {
    --clr-Wht:#ffffff;
    --clr-Blk: #000000;
    --clr-One: #d8edea;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin: auto;
    max-width: 60rem;
    color: var(--clr-One);
    background: radial-gradient(
        circle,
        rgba(175, 196, 174, 1) 0%,
        rgba(104, 204, 191, 1) 89%,
        rgba(94, 191, 178, 1) 100%
    );
}
header {
    text-align: center;
    margin-top: 3rem;
}
div {
    height: 2rem;
    width: 2rem;
}

/*Some Utility Classes*/
.t-ucase {
    text-transform: uppercase;
}
.t-big {
    font-size: 1.5rem;
}
.t-wide {
    font-size: 1.5rem;
}
.t-close {
    letter-spacing: 1rem;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.score-display {
    font-size: 5rem;
    color: rgb(133, 121, 107, 0.5);
}
.game-area {
    display: flex;
    justify-content: center;
}
.game {
    height: 0;
    width: 300px;
}

.grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 20rem;
    height: 40rem;
}
.previous-shape {
    width: 10rem;
    padding-left: 2rem;
    margin-top: -5rem;
}
.previous-grid {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    height: 8rem;
}
/*Bloc-img*/
.block {
    background-image: url(../assets/img/blue_block.png);
}
.block2 {
    background-image: url(../assets/img/purple_block.png);
}
.block3 {
    background-image: url(../assets/img/green_block.png);
}
.block4 {
    background-image: url(../assets/img/navy_block.png);
}
.block5 {
    background-image: url(../assets/img/pink_block.png);
}
.end {
    background-color: #d8edea;
}
/*Button*/
.button {
    position: relative;
    width: 22rem;
    height: 2.2rem;
    text-align: center;
    color: var(--clr-Wht);
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    display: block;
    margin: 30px;
    text-shadow: -1px -1px 0 #a84155;
    background: #d25068;
    width: 12rem;
    background-image: linear-gradient(to bottom, #f66c7b, #d25068);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #ad4257,
    0 4px 2px rgba(0, 0, 0, 0.5);
}
.button::before {
    content: "";
    background: #f0f0f0;
    background-image: linear-gradient(#d0d0d0, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.5) inset, 0 1px 0 #fff;
    position: absolute;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -10px;
    z-index: -1;
}
.button:active {
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
 0 -1 0 rgba(255, 255, 255, 0.1) inset;
 top: 5px;
}
.button:active::before {
content: "";
top: -11px;
bottom: -5px;
}
.button:hover {
    background: #f66c7b;
    background-image: linear-gradient(top, #d25068, #f66c7b);
}
.end {
 background-image: url(../assets/img/blue_block.png);
}

/* Display*/

/*menu*/

/*Start of Menu Styling*/

/*Hamburger Line*/

/*Hamburger Lienes Top-Bottom*/

/*Moves Line Down*/

/* Turn Lines Into*/

/* Rotate on Hover When Checked*/

/* rules, key, close*/